#content {
   background-image: linear-gradient(to right, yellow, green , #00f2ff);
   width: 1750px;
   height: 800px;
   border: 15px solid grey;
   padding: 50px;
   margin: 20px;
}

#content h2{
  color: grey;
}

img.thumbnail:hover,
img.thumbnail:focus {
  width: 1000px;
  height: 750px;
}
