#content {
background-image: linear-gradient(to right, #57dbff, #0008ff);
width: 1750px;
height: 800px;
border: 15px solid grey;
padding: 50px;
margin: 20px;
font-family: "Lucida Console", "Courier New", monospace;
}

#content h1{
color: white;
font-family: "Impact, fantasy", fantasy;
letter-spacing: 3px;
}

#content h2{
color: white;
text-transform: uppercase;
}
